.root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  max-width: 640px;
  margin: 0 auto;
}

.root code {
  padding: 4px 6px;
  color: rgb(250, 90, 90);
  background: rgb(230, 230, 230);
  border-radius: 2px;
}

.body {
  padding: 16px 24px;
}
