.root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  max-width: 640px;
  margin: 0 auto;
}

.root code {
  padding: 4px 6px;
  color: rgb(250, 90, 90);
  background: rgb(230, 230, 230);
  border-radius: 2px;
}

.body {
  padding: 16px 24px;
}
/* table */
.table {
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table td,
.table th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
.table th {
  background-color: #efefef;
  text-transform: uppercase;
  border-bottom-style: dashed;
}
.table tr:nth-child(even) {
  background-color: #f9f9f9;
}
