.root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  max-width: 640px;
  margin: 0 auto;
}

.body {
  padding: 16px 24px;
}
/* table */
.table {
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table td,
.table th {
  text-align: left;
  padding: 8px;
}
.table th {
  background-color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.3);
}
